.container-categories {
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    font-family: sans-serif;
    background-color: #fff;
}

.categories-wrap {
    width: 1240px;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

.categories-head {
    width: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.categories-title {
    color: #4E4E4E;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.categories-product {
    width: 290px;
    height: 58px;
    border-radius: 5px;
    background: #FBFBFB;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 20px;
}

.categories-active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 26px;
}