.product-modal {
    width: 619px;
    height: 416px;
}

.product-modal-img {
    width: 212px;
    height: 210.771px;
}

.product-modal-image {
    width: 200px;
    height: 154.667px;
}

.product-input {
    width: 261px;
    height: 39px;
}